<%- include('../../partials/header', {title: 'RSS Feed'}) -%>
<script>
  let style = <%=viewIndex%> ? 0 : 1

  let hasMoreData = true
  let isLoading = false

  let parameters = {
    page: 1,
    limit: 5,
    search: null,
    type: null
  }

  let loadedPage;
  let error

  const currentUrl = new URL(window.location.href);
  // const newURL = new URL(window.location.href);
  currentUrl.searchParams.forEach((value, key) => {
    // if (!key) newURL.searchParams.append(key, value);
    console.log(`${key}=${value}`);
    parameters[key] = value

    if (key.includes('theme')) {
      style = value
      console.log('theme updated')
    }

  });
  console.log(parameters)
</script>
<%- include('../../widgets/nsfw-modal', {init: false}) -%>

<div id='main'>
  <%- include('toolbar') %>
  <%- include('search-form') %>
  <%- include('../../partials/footer') %>

  <%- include('display-posts') %>
  <%- include('pagination') %>
</div>