<%- include('partials/header', {title: 'Gallery'}) -%>
<!-- Body -->
<h1>Gallery</h1>
<div id="rss-feed-container">
  <!-- RSS feed items will be dynamically inserted here -->
</div>
<div class="feed-item">
  <h2>images/avatars/NFTs</h2>
  <% images.forEach(image => {%>
  <img class="myImages" id="myImg" src="<%=image.path%>" alt="<%=image.fileName%>" style="width:150px">
  <%});%>
</div>
<div class="feed-item">
  <h2>Index</h2>
  <%pagination.posts.forEach(result => {
     for(const image of result.images){%>
  <% const caption = '<a href='+links.viewPost({id: result.postId})+'>'+result.title+'</a>'%>
  <a href="#<%=result.postId%>" class="image-link" data-image-src="<%=image%>">
  <img class="myImages" id="myImg<%=result.postId%>" src="<%=image%>" alt="<%=caption%>" style="width:150px" onerror="onImgError(this)">
  </a>
  <%}%>
  <%});%>
</div>
<%-include('widgets/pagination')-%>
<%-include('partials/footer')-%>
<%-include('widgets/image-modal')-%>