<%- include('partials/header', { title : post.title}) %>
<h1><%= post.title %></h1>
<div id="rss-feed-container">
  <!-- RSS feed items will be dynamically inserted here -->
</div>
<div class="feed-item"><%- post.content %></div>
<div class="feed-info">
  <p>Labels: <%let labels = '';
    post.labels.forEach((item, index) => { 
    labels += '\<a href='+common.links.searchLabel(item)+'>'+item+'\</a>'; 
    if (index < post.labels.length - 1) { labels += ', '; }
  }); %> <%-labels%></p>
  <p>Published: <%= new Date(post.date.published).toLocaleDateString() %> <%= new Date(post.date.published).toTimeString() %></p>
  <p>Updated: <%= new Date(post.date.updated).toLocaleDateString() %> <%= new Date(post.date.updated).toTimeString() %></p>
  <p>Text: <%= post.size.content %>(<%= post.size.format %>) Images: <%=post.size.images%>(<%= post.size.format %>)</p>
  <%if(post.source) {%>
  <p>Original URL: <a href="<%=post.source.url%>"><%=post.source.url%></a></p>
  <%}%>
</div>
<!-- Pagination -->
 <!-- <script src="/js/simpblog2.min.js"></script> -->
 <script>
  // findPage(397).postId
 </script>
<!-- <a href="findPage(397).postId">Go-to Page</a> -->
<a href="<%=common.links.viewPost({id: prevPost})%>">Previous Post</a>
<a href="<%=common.links.viewPost({id: nextPost})%>">Next Post</a>
<a href="<%=common.previousUrl%>">Back</a>
<!-- Widgets -->
<%- //include('widgets/nsfw-modal') -%>
<!-- Footer -->
<%- include('partials/footer') -%>