<!DOCTYPE html>
<html lang="en">
<!-- Header -->
<%- include('partials/header') -%>

<body>
  <!-- Navigation bar -->
  <%- include('partials/navbar') -%>
  <h1><%= post.title %></h1>
  <!-- <br /> -->
  <div id="rss-feed-container">
    <!-- RSS feed items will be dynamically inserted here -->
  </div>
  <div class="feed-item">
    <!-- <h2><%= post.title %></h2> -->
    <%- post.content %>
  </div>
  <div class="feed-info">
    <p>Labels: <% post.labels.forEach((label) => {%><%=label%> <% });%></p>
    <p>Published: <%= new Date(post.date.published).toLocaleDateString() %> <%= new
       Date(post.date.published).toTimeString() %></p>
    <p>Updated: <%= new Date(post.date.updated).toLocaleDateString() %> <%= new
       Date(post.date.updated).toTimeString() %></p>
    <p>Text: <%= post.size.content %> Images: <%= post.size.images %></p>
    <p>Original URL: <a href="<%= post.source.url %>"><%= post.source.url %></a></p>
  </div>
  <!-- Pagination -->
  <a href="<%- previousUrl -%>">Back</a>
  <!-- Footer -->
  <%- include('partials/footer') -%>
</body>

</html>